<%= render partial: 'shared/secondary_nav', locals: { active: :profile } %>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <ul class="sidebar-list">
        <li class="sidebar-item"><%= link_to "Profile", edit_user_registration_path, class: 'sidebar-link' %></li>
        <li class="sidebar-item"><%= link_to "Photo", edit_user_registration_path(section: 'photo'), class: 'sidebar-link active' %></li>
      </ul>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          Your Profile
          <%= link_to "View dashboard", user_path(current_user.id), class: "pull-right txt-small" %>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
            <%= render 'shared/devisemes' %>

            <div class="form-group">
              <%= f.text_field :image, autofocus: true, placeholder: "Image", class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "Save", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
