<%= render partial: 'shared/secondary_nav', locals: { active: :reservations } %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="sidebar-list">
        <li class="sidebar-item"><%= link_to "Your Bookings", bookings_path(current_user), class:"sidebar-link active"%></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          Bookings
        </div>
        <div class="panel-body">
          <% @bookings.each do |booking| %>
            <%- vehicle = booking.vehicle %>
            <div class="row row-table">
              <div class="col-md-2 col-middle">
                <%= image_tag vehicle.photos[0].image.url(:thumb) if vehicle.photos.length > 0 %>
              </div>
              <div class="col-md-7 col-middle">
                <h4>
                  <%- klass = ('label-warning' if booking.human_state_name == 'pending'),
                              ('label-success' if booking.human_state_name == 'accepted'),
                              ('label-danger' if booking.human_state_name == 'declined')
                  %>
                  <%= link_to vehicle.listing_name, vehicle_path(vehicle), class: 'txt-normal' %>
                  <div class="label <%= klass.compact[0] %>"><%= booking.human_state_name.titleize %></div>
                </h4>
                Request for: <%= booking.duration %>
              </div>
              <div class="col-md-3 text-right col-middle hidden-sm hidden-xs">
                <%= link_to "Manage", booking_path(vehicle), class: "btn btn-primary"%>
              </div>
            </div>
            <hr/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
