<div class="col-sm-6">
  <div class="card">
    <%= link_to destination do %>
      <%= image_tag(destination.main_photo.image.url(:medium), class: "card-img") if destination.main_photo %>
    <% end %>
    <div class="card-block">
      <h4 class="card-title"><%= destination.name %></h4>
      <p class="card-text"><%= destination.tagline %></p>
      <%= link_to 'Learn More', destination, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
