<div class='hot-stuff-bg'>
  <video preload="auto" loop="loop" id="pretzel-video" class="video-playing" autoplay>
    <source src="https://a0.muscache.com/airbnb/static/Croatia-P1-1.mp4" type="video/mp4">
    <source src="https://a0.muscache.com/airbnb/static/Croatia-P1-0.webm" type="video/webm">
  </video>
</div>
<div class='hot-stuff'>
  <div class="va-container container full-width">
    <div class="">
      <h1 class="txt-white txt-heavy txt-jumbo">HELLO</h1>
      <h2 class="txt-white txt-heavy">Where do we go?</h2>
    </div>
  </div>
  <div class="hot-stuff-footer">
    <div class="search">
        <div class="container full-width">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="form-section">
                <div class="row">
                    <%= form_tag search_vehicles_path(location: ''), method: :get, id: 'location-search' do %>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="sr-only" for="location">Location</label>
                          <%= text_field_tag :formatted_address, nil , class: "form-control", id: "location"  %>
                          <%= hidden_field_tag :lat, nil, class: "form-control" %>
                          <%= hidden_field_tag :lng, nil, class: "form-control" %>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="checkin">Pickup</label>
                          <%= text_field_tag :pickup, params[:pickup] || (Date.today).strftime('%x'), class: "form-control", id: "pickup" %>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="checkout">Drop-off</label>
                          <%= text_field_tag :dropoff, params[:dropoff] || (Date.today + 2).strftime('%x'), class: "form-control", id: "dropoff" %>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="passengers">Passengers</label>
                          <%= select_tag :passengers, options_for_select(Vehicle::PASSENGERS) %>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button type="submit" class="btn btn-default btn-primary">Search</button>
                      </div>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
