<%= render partial: 'shared/secondary_nav', locals: { active: :vehicles } %>
<div class="container">
  <div class="row">
    <%= render partial: 'shared/vehicle_nav', locals: { active: :contact } %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          Your RV Contact Info
          <%= link_to "View RV listing", vehicle_path(@vehicle), class: "pull-right txt-small" %>
        </div>
        <div class="panel-body">
            <%= form_for(@vehicle, url: vehicle_path(@vehicle, section: 'contact'), html: { method: :put }) do |f| %>
             <div class="row">
               <%= f.fields_for :user, @user do |u| %>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Phone</label>
                      <%= u.text_field :phone_number, placeholder: 'XXXXXXXXXX', class: 'form-control' %>
                  </div>
                </div>
              <% end %>
            </div>
              <div class="actions">
                <%= f.submit "Save", class: "btn btn-primary", data: { disable_with: "Please wait..." } %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
