<%= render partial: 'shared/secondary_nav', locals: { active: :vehicles } %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="sidebar-list">
				<li class="sidebar-item"><%= link_to "Your Listing", vehicles_path, class:"sidebar-link active"%></li>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					Listings
				</div>
				<div class="panel-body">
					<% @vehicles.each do |vehicle| %>
						<div class="row row-table">
							<div class="col-md-2 col-middle">
								<%= image_tag vehicle.photos[0].image.url(:thumb) if vehicle.photos.length > 0 %>
							</div>
							<div class="col-md-7 col-middle">
								<h4><%= link_to vehicle.listing_name, vehicle_path(vehicle), class: 'txt-normal' %></h4>
								<%= link_to "Manage listing, booking and calendar", edit_vehicle_path(vehicle) %>
							</div>
							<div class="col-md-3 text-right col-middle hidden-sm hidden-xs">
								<%= link_to "Manage", edit_vehicle_path(vehicle), class: "btn btn-primary"%>
							</div>
						</div>
						<hr/>
					<% end %>
					<%= link_to "Add a vehicle", new_vehicle_path, class: 'btn btn-primary' %>
				</div>
			</div>
		</div>
	</div>
</div>
