<%= render partial: 'shared/secondary_nav', locals: { active: :vehicles } %>
<div class="container">
  <div class="row">
    <%= render partial: 'shared/vehicle_nav', locals: { active: :location } %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          Your RV Location
          <%= link_to "View RV listing", vehicle_path(@vehicle), class: "pull-right txt-small" %>
        </div>
        <div class="panel-body">
          <%= form_for(@vehicle, url: vehicle_path(@vehicle, section: 'location'), html: { method: :put }) do |f| %>
            <div class="row">
              <%= f.fields_for :address, @address do |a| %>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Street Address</label>
                    <%= a.text_field :street, placeholder: 'e.g. 123 Main Street', class: 'form-control' %>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label>Apt/Suite/Building (optional)</label>
                    <%= a.text_field :apt, placeholder: 'e.g. Apt #205', class: 'form-control' %>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>City</label>
                    <%= a.text_field :city, placeholder: 'e.g. Austin', class: 'form-control' %>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>State</label>
                    <%= a.text_field :state, placeholder: 'e.g. TX', class: 'form-control' %>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Zip code</label>
                    <%= a.text_field :zip, placeholder: 'e.g. 78704', class: 'form-control' %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="actions">
              <%= f.submit "Save Address", class: "btn btn-primary", data: { disable_with: "Please wait..." } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
