<%= render partial: 'shared/secondary_nav', locals: { active: :vehicles } %>
<div class="container">
  <div class="row">
    <%= render partial: 'shared/vehicle_nav', locals: { active: :pricing } %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          Your RV Pricing
          <%= link_to "View RV listing", vehicle_path(@vehicle), class: "pull-right txt-small" %>
        </div>
        <div class="panel-body">
          <%= form_for(@vehicle, url: vehicle_path(@vehicle, section: 'pricing'), html: { method: :put }) do |f| %>
               <%= f.fields_for :price, @price do |p| %>
                <div class="row">
                  <div class="col-md-3 block">
                    <div class="form-group">
                      <label>Nightly Rate</label>
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <%= p.text_field :nightly_amount, placeholder: '0', class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Weekly Rate</label>
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <%= p.text_field :weekly_amount, placeholder: '0', class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Monthly Rate</label>
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <%= p.text_field :monthly_amount, placeholder: '0', class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3 block">
                      <div class="form-group">
                        <label>Special Discount</label>
                        <div class="input-group">
                          <div class="input-group-addon">%</div>
                          <%= p.text_field :special_amount, placeholder: '0', class: 'form-control' %>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
              <div class="actions">
                <%= f.submit "Save", class: "btn btn-primary", data: { disable_with: "Please wait..." } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
