<!DOCTYPE html>
  <html>
  <head>
    <title>RVental</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    </head>
  <body class="<%= body_class %>">
    <%= render 'shared/navbar' %>
    <%= yield :secondary_nav %>
    <%= render 'shared/message' %>
    <div class="main-container full-width">
      <%= yield %>
    </div>
    <%= render "shared/login_modal" %>
  </body>
</html>
